.ghci-show-pulls .gh-header-meta .TableObject-item--primary,
.ghci-show-pulls .sticky-content .meta {
    display: none !important;
}

.ghci-hide-logs .TimelineItem:not(*[data-url]) {
    display: none !important;
}

.ghci-show-pulls .ghci-pull-requests-sticky .State {
    font-size: 10px;
    padding: 0 8px;
}
