/**
    Issue Card
 */

.ghcb-on .issue-card .card-octicon, /* issue type icon */
.ghcb-on .issue-card .js-project-issue-details-container > small, /* issue number and created by */
.ghcb-on .issue-card .js-project-issue-details-container > .my-1.v-align-middle, /* issue checkboxes progress */
.ghcb-on.ghcb-hide-labels .issue-card .labels,
.ghcb-on.ghcb-hide-milestone .issue-card .js-project-issue-details-container > button,
.ghcb-on.ghcb-hide-everhour .issue-card .js-project-issue-details-container > .everhour-list-stat,
.ghcb-on.ghcb-hide-assignees .issue-card .AvatarStack
{
    display: none !important;
}

.ghcb-on .issue-card .ghcb-number {
    font-weight: normal !important;
    color: #666 !important;
    font-size: 11px;
    background: #f8f8f8;
    padding: 9px 4px 0;
    width: 44px;
    min-width: 44px;
    flex-grow: 0 !important;
    margin-right: 8px;
}

.ghcb-off .issue-card .ghcb-number {
    display: none !important;
}

.ghcb-on .issue-card .js-project-issue-details-container {
    padding-left: 0px !important;
}

.ghcb-on .issue-card {
    margin: 0 !important;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #e1e4e8 !important;
}

/**
    Note Card
 */

.ghcb-on .issue-card[data-card-type*="note"] small {
    display: none !important;
}

.ghcb-on .issue-card[data-card-type*="note"] .card-menu-container > summary {
    margin-top: 4px !important;
}

.ghcb-on .issue-card[data-card-type*="note"] {
    background: #f7f7e3 !important;
}

.ghcb-on .issue-card[data-card-type*="note"] .pl-5.p-2 {
    padding: 4px 0 4px 8px !important;
}
.ghcb-on .issue-card[data-card-type*="note"] p {
    margin-bottom: 0 !important;
    font-weight: bold !important;
    font-size: 10px;
    text-transform: uppercase;
}

/**
    Column & Header
 */

.ghcb-on.ghcb-hide-everhour .js-project-column .everhour-column-summary,
.ghcb-on.ghcb-hide-everhour .project-header-controls .everhour-list-summary
{
    display: none !important;
}

.ghcb-on .js-project-column-cards {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/**
    Compact View Switcher
 */

.ghcb-switcher {
    margin-right: 16px;
}